<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.prm_final_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" /> <!-- allows app to access Facebook app features -->
        <provider android:authorities="com.facebook.orca.provider.PlatformProvider" /> <!-- allows sharing to Messenger app -->
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRM_Final_Project"
        tools:targetApi="31">
        <activity
            android:name=".Ui.Activity.ViewAllCardsActivity"
            android:exported="false"
            android:theme="@style/Theme.PRM_Final_Project.Custombar"/>
        <activity
            android:name=".Ui.Activity.ViewAllActivity"
            android:exported="false"
            android:parentActivityName=".Ui.Activity.MainActivity"
            android:theme="@style/Theme.PRM_Final_Project.Custombar" />
        <activity
            android:name=".Ui.Activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.NoInternetActivity"
            android:exported="false"
            android:theme="@style/Theme.PRM_Final_Project.NoActionBar" />
        <activity
            android:name=".Ui.Activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.MyFlashcardsActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.TestActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.ResultWrittenChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.WrittenQuizActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.ResultMultipleChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.SplashActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Ui.Activity.LearnCardActivity"
            android:exported="false"
            android:theme="@style/Theme.PRM_Final_Project.Custombar" />
        <activity
            android:name=".Ui.Activity.EditDeckActivity"
            android:exported="false"
            android:theme="@style/Theme.PRM_Final_Project.Custombar" />
        <activity
            android:name=".Ui.Activity.ViewCardActivity"
            android:exported="true"
            android:parentActivityName=".Ui.Activity.MainActivity"
            android:theme="@style/Theme.PRM_Final_Project.Custombar" />
        <activity
            android:name=".Ui.Activity.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.PRM_Final_Project.NoActionBar" />
        <activity
            android:name=".Ui.Activity.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.PRM_Final_Project.NoActionBar" />
        <activity
            android:name=".Ui.Activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PRM_Final_Project.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>